.top_background_image {
  background-image: image-url('top.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.top_contents {
  height: 75%;
  display: flex;
  justify-content: center;
  margin-right: 105px;
  padding-top: 280px;
  font-size: 35px;
  color: white;
}

.top_title {
  margin: 0;
}

.top_search_contents {
  margin-left: 30px;
}

h3 {
  color: #474747;
}

.about_background_image {
  background-image: image-url('about.jpeg');
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.about_logo {
  font-family: 'Dela Gothic One', cursive;
  color: white;
  font-size: 50px;
}

.about_logo_bottom {
  font-family: 'Dela Gothic One', cursive;
  color: white;
  font-size: 25px;
}

.about_contents {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  color: white;
  padding: 100px;
  line-height: 30px;
}
