.pass_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-top: 30px;
}

.pass_box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #fffdf0;
  border: solid 1px #e1e1e1;
}

.pass_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  background-color: #fff8d4;
  border-bottom: solid 1px #e1e1e1;
}

.pass_form {
  width: 50%;
}

.field input[type='email'] {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

.field input[type='email']:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

.actions {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FAC559;
    border: none;
}

.pass_btn:hover {
  color: #DF8C00;
}

h4 {
  margin: 10px;
}
