.wrapper_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper_login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #FFF799;
}

.title_login {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  background-color: #FAC559;
}

.field {
  margin-bottom: 15px;
}

#user_email {
  width: 300px;
  height: 30px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FAC559;
    border: none;
}

h4 {
  margin: 10px;
}

a {
  color: #FAC559;
}
