.signup_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}

.signup_box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #FFF799;
}

.signup_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #FAC559;
}

.signup_form {
  width: 50%;
}

#user_email {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#user_nickname {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#user_password {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#user_password_confirmation {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FAC559;
  border: none;
}

.signup_btn:hover {
	color: #DF8C00;
}