.review_new_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px;
}

.review_new_box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #fffdf0;
  border: solid 1px #e1e1e1;
}

.review_new_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  background-color: #fff8d4;
  border-bottom: solid 1px #e1e1e1;
}

.review_new_form {
  width: 80%;
}

table {
  margin: 0 auto;
}

label {
  margin-right: 50px;
}

.field {
  margin-bottom: 15px;
}

#review_title {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

#review_title:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

#review_body {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

#review_body:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

#review_stars {
  text-align: center;
  margin: 20px auto;
}

.review_image_field {
  text-align: center;
}

#review_image {
  margin: 0 auto 15px auto;
}

.actions {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FAC559;
  border: none;
  border-radius: 4px;
}

.actions:hover {
	color: #DF8C00;
}

.review_box {
  display: flex;
  overflow-wrap: normal;
  border: solid 1px #e1e1e1;
  margin: 30px auto;
  width: 50%;
  background-color: #fffadd;
}

.review_image {
  padding: 30px;
}

.attachment.user.profile_image {
  border-radius: 90px;
}

.attachment.review.image{
  border-radius: 10px;
}

.review_info {
  display: inline-block;
  line-height: 2em;
  padding: 20px;
}

.review_header {
  width: 50%;
  margin: 0 auto;
}

.review_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 30%;
  height: 50px;
  margin: 20px auto;
  background-color: #FAC559;
  border-radius: 4px;
}

.review_btn:hover {
	color: #DF8C00;
}

.btn {
  color: black;
	font-size: 19px;
	text-decoration: underline;
	border-radius: 4px;
}

.btn:hover {
	color: #DF8C00;
}

h4 {
  margin: 20px 0 10px 0;
}

.review_body {
  margin-bottom: 10px;
}

.review_user_info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #e7db9b;
}

.review_user_name {
  font-size: 18px;
  margin-left: 15px;
}

a.btn {
  padding: 0;
}

.review_user_name_link {
  color: black;
	font-size: 19px;
}

.review_user_name_link:hover {
	color: #DF8C00;
}

.review_btns {
  padding: 10px 0;
  border-top: solid 1px #e7db9b;
  border-radius: 4px;
}

.review_edit_btn {
  cursor: pointer;
  color: black;
}

.review_destroy_btn {
  cursor: pointer;
  color: black;
  margin: 10px;
}
