.search_box {
  padding: 10px;
  margin: 0 30px;
}

#shop_search {
  width: 100%;
}

table {
  width: 100%;
  height: 100px;
}

.search_td input[type='search'] {
  height: 50px;
  width: 98%;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

.search_td input[type='search']:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

#q_genre_id_eq {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 50px;
  width: 98%;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
  color: #a9a9a9;
}

.search_td #q_genre_id_eq:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #FAC559;
  border: none;
  border-radius: 4px;
}

.search_btn:hover {
	color: #DF8C00;
}
