.login_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login_box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #FFF799;
}

.login_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  background-color: #FAC559;
}

.login_form {
  width: 50%;
}

#user_email {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#user_password {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #FAC559;
    border: none;
}

a {
  color: #FAC559;
}
