.search_box {
  display: flex;
}

.search_table {
  border: none;
  border-radius: 0;
}

.search_td {
  background-color: white;
  border: none;
  padding: 0;
}

.shop_wrap {
  margin: 0 20px;
}

.shop_box {
  display: flex;
  overflow-wrap: normal;
  border: solid 1px #FAC559;
  margin: 30px auto;
  width: 50%;
  background-color: #FFF799;
  border-radius: 10px;
}

.shop_header {
  width: 50%;
  margin: auto;
}

.shop_image {
  padding: 30px;
}

img {
  border-radius: 10px;
}

.shop_info {
  display: inline-block;
  line-height: 2em;
}

.shop_name {
  word-break: normal;
}

table {
  margin: 30px auto;
  width: 70%;
  border: 1px solid #DF8C00;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}

tr {
  border: solid 1px white;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #F6AE54;
}

th {
  background-color: #FAC559;
}

td {
  padding-left: 25px;
  background-color: #FFF799;
}

.btn {
	color: black;
	font-size: 20px;
	text-decoration: underline;
}

.btn:hover {
	color: #DF8C00;
}

.shop_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  height: 50px;
  margin: 20px auto;
  background-color: #FAC559;
}

.paginate {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination>li>a {
  border: solid 2px;
  color: #DF8C00;
}

.pagination>li>a:hover {
  border-radius: 15px;
  background-color: #FAC559;
  border-color: #FAC559;
  color: white;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background: #FAC559;
  border-color: #FAC559;
}

.shop_show_box {
  overflow-wrap: normal;
  border: solid 1px #FAC559;
  margin: 30px auto;
  width: 70%;
  background-color: #FFF799;
  border-radius: 10px;
}

.shop_show_image {
  margin: 30px 0 10px 65px;
}
