.search-box {
  display: flex;
}

.shop-list {
  margin: 0 20px;
}

.shop-box {
  display: flex;
  border: thick double #FAC559;
  margin: 30px;
  background-color: #FFF799;
  border-radius: 10px;
}

.shop-main {
  display: flex;
}

.shop-image {
  padding: 30px;
}

img {
  border-radius: 10px;
}

.shop-info {
  width: 100%;
  display: inline-block;
  margin: auto 50px;
  line-height: 2.5em;
}

.t-shop {
  margin: 30px 30px 30px 0;
  width: 100%;
  border: 1px solid #DF8C00;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}

.th-shop, .td-shop {
  padding: 5px 10px;
  border: 1px solid #F6AE54;
}

.th-shop {
  background-color: #FAC559;
}

.td-shop {
  padding-left: 25px;
  background-color: #FFF799;
}

.tr-shop {
  border: solid 1px white;
}

.btn {
	color: black;
	font-size: 25px;
	font-weight: 700;
	text-decoration: underline;
	transition: 0.3s;
}

.btn:hover {
	color: #DF8C00;
}

.btn_shop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  height: 50px;
  margin: 20px auto;
  background-color: #FAC559;
}

.paginate {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination>li>a {
  border: solid 2px;
  color: #DF8C00;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
  background-color: #FAC559;
  border-color: #FAC559;
  color: white;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background: #FAC559;
  border-color: #FAC559;
}
