.user_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;
}

.user_box {
  text-align: center;
  width: 50%;
  background-color: #ffffe0;
  height: 500px;
  border: solid 1px #e1e1e1;
}

.user_header {
  margin-bottom: 20px;
  background-color: #fff3b8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #e1e1e1;
}

h4 {
  margin-top: 10px;
}

h2 {
  margin: 0;
  padding: 20px;
}

.user_mypage_info {
  line-height: 100px;
  margin-top: 20px;
}

.user_table {
  display: flex;
  justify-content: center;
}

.user_form {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 90px;
}

.user_info input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

.user_info input:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

.user_info textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border: solid 0.5px #a9a9a9;
  border-radius: 4px;
}

.user_info textarea:focus {
  border: 2px solid #FAC559;
  z-index: 10;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  color: black;
  width: 50%;
  height: 50px;
  margin: 20px auto;
  background-color: #FAC559;
  border: none;
  border-radius: 4px;
}

.user_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  height: 50px;
  margin: 10px auto;
  background-color: #FAC559;
  border: none;
  border-radius: 4px;
}

.user_btn:hover {
	color: #DF8C00;
}

.warning {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 10px 0px;
}

.btn {
	color: black;
	font-size: 16px;
}

.btn:hover {
	color: #DF8C00;
}

.my_review_header {
  width: 50%;
  margin: 0 auto;
}

.my_review_box {
  overflow-wrap: normal;
  border: solid 1px #e1e1e1;
  margin: 30px auto;
  width: 50%;
  background-color: #ffffe0;
}

.my_review_container {
  display: flex;
}

.my_review_image {
  padding: 30px;
  text-align: center;
}

.my_review_shop_name {
  padding: 10px;
  border-bottom: solid 1px #e1e1e1;
}

.my_review_info {
  display: inline-block;
  line-height: 2em;
  padding: 20px;
}

.my_review_btn {
  color: black;
  font-size: 20px;
}

.my_review_btn:hover {
	color: #DF8C00;
}

.my_review_shop_image {
  border-radius: 10px;
}

.review_user_info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e7db9b;
}

.review_user_name {
  font-size: 18px;
  margin-left: 15px;
}

.review_user_name_link {
  color: black;
	font-size: 19px;
}

.review_user_name_link:hover {
	color: #DF8C00;
}
