.wrapper-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;
}

.wrapper-user {
  text-align: center;
  width: 70%;
  border: solid 2px;
  background-color: #F6C800;
  height: 800px;
}

.title-user {
  border-bottom: solid 1px;
  margin-bottom: 70px;
  background-color: #DF8C00;
}

h2 {
  margin: 0;
  padding: 20px;
}
.mypage-top {
  display: flex;
  margin-top: 20px;
}

.my-page-info {
  line-height: 100px;
  font-size: 20px;
}

.t-mypage {
  display: flex;
  justify-content: center;
}

.user-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

img {
  border-radius: 1000px;
}

.user-info {
  margin-left: 100px;
}

#user_nickname {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

#user_introduction {
  width: 300px;
  height: 90px;
  margin-bottom: 10px;
}

#user_email {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  width: 50%;
  height: 50px;
  margin-top: 70px;
  background-color: #DF8C00;
  border: none;
}

.btn-user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 70px;
  background-color: #DF8C00;
  border: none;
}

.warning {
  height: 200px;
  text-align: center;
  margin-top: 200px;
}

.unsubscribe_btn {
  line-height: 200px;
}
