.user_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;
}

.user_box {
  text-align: center;
  width: 50%;
  background-color: #FFF799;
  height: 500px;
}

.user_header {
  margin-bottom: 20px;
  background-color: #FAC559;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin-top: 10px;
}

h2 {
  margin: 0;
  padding: 20px;
}

.user_mypage_info {
  line-height: 100px;
  margin-top: 20px;
}

.user_table {
  display: flex;
  justify-content: center;
}

.user_form {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 1000px;
}

#user_nickname {
  height: 30px;
  margin-bottom: 10px;
}

#user_introduction {
  height: 90px;
  margin-bottom: 10px;
}

#user_email {
  height: 30px;
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
  display: inline-block;
  color: black;
  width: 50%;
  height: 50px;
  margin: 20px auto;
  background-color: #FAC559;
  border: none;
}

.user_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 50%;
  height: 50px;
  margin: 10px auto;
  background-color: #FAC559;
  border: none;
}

.user_btn:hover {
	color: #DF8C00;
}

.warning {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 10px 0px;
}

.btn {
	color: black;
	font-size: 15px;
	text-decoration: underline;
}

.btn:hover {
	color: #DF8C00;
}
