<%= stylesheet_link_tag "public/homes", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="about_background_image">
  <div class="about_contents">
    <span class="about_logo"> カレドコ  </span>とは<br>
    <br>
    <br>
    カレーほど様々な顔を持つ料理はありません。<br>
    <br>
    <br>
    家庭で作るカレーライス、最近流行りのスパイスカレーや北海道発祥のスープカレー、<br>
    これら全て「カレー」に括られる料理です。<br>
    <br>
    <br>
    そんな味や食べ方の多様性がカレーの魅力の一つですが、その一方、<br>
    そのバラエティの豊富さゆえに、自分の好きなカレーのジャンルのお店を見つけることは、労を要します。<br>
    <br>
    <br>
    なぜなら既存の検索サイトだと上の料理全て「カレー」で一括りにされて、<br>
    細かくジャンル分けされていないからです。<br>
    <br>
    <br>
    そこで、自分の好きなジャンルのお店をピンポイントで検索できるサイトは、<br>
    細分化の進むカレーファンにとって便利だろうと考え、制作しました。<br>
    <br>
    <br>
    カレーファンのあなたのご協力で、この「  <span class="about_logo_bottom">カレドコ</span>  」を一緒に創り上げていき、<br>
    カレーファンの輪を広げていきましょう！<br>
  </div>
</div>