<%= stylesheet_link_tag "public/homes", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="background-image">
  <div class="content">
    あなたの最高の<br>
    一皿が見つかる。
  </div>
</div>

<%= render "public/shared/search", shops: @q %>
