<%= stylesheet_link_tag "public/homes", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="top_background_image">
  <div class="top_contents">
    <p class="top_title">お気に入りのお店が見つかる。</p>
  </div>

  <div class="top_search_contents">
    <h2>今すぐカレー屋を検索！</h2>
  </div>

  <%= render "public/shared/search", shops: @q %>

</div>
