<h4>ジャンル一覧・追加</h4>

<%= form_with model:@genre, url: admins_genres_path, local: true do |f| %>

  <%= f.label      :name, "ジャンル名" %>
  <%= f.text_field :name, placeholder: "ジャンル名" %>
  <%= f.submit "新規登録" %>
<% end %>
