/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *.
 *= require_self
 */

@import "./reset";

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Sawarabi Gothic', sans-serif;
 }

a:hover {
  color: #DF8C00;
  text-decoration: none;
}

header {
  height: 120px;
  margin: 0;
}

.header_top {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #FFF799;
}
.header_top_left {
  display: flex;
  margin: 10px auto 10px 10px;
}

.logo {
  font-family: 'Dela Gothic One', cursive;
}

.header_explain {
  margin: auto 20px;
}
.nav-top {
  margin-right: 20px;
  font-size: 19px;
}

.header-bottom {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFF799;
}

.btn-top {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-right: 20px;
  transition: 0.3s;
}

.btn-top:hover {
	color: #DF8C00;
}

.btn-bottom {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  transition: 0.3s;
}

.btn-bottom:hover {
	color: #DF8C00;
}

.wrapper {
  display: flex;
  flex: 1;
}

.nav {
  width: 100px;
}

main {
  flex: 1;
}

aside {
  width: 100px;
}

footer {
  height: 50px;
	background: #FFF799;
}
