<%= stylesheet_link_tag "public/users", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="user_wrap">
  <div class="user_box">
    <div class="user_header">
      <h4>本当に退会しますか？</h4>
    </div>

    <div class="warning">
      <p>
        退会すると、会員登録情報が閲覧できなくなります。<br />
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>

    <div class="unsubscribe_btn">
      <%= link_to "退会しない", users_my_page_path(current_user), class: "user_btn" %>
      <%= link_to "退会する", users_withdrawal_path, method: :patch, data: { comfirm: "本当に退会しますか？" }, class: "user_btn"%>
    </div>

  </div>
</div>
