<%= stylesheet_link_tag "public/users", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="wrapper-flex">
  <div class="wrapper-user">
    <div class="title-user">
      <h2>本当に退会しますか？</h2>
    </div>

    <div class="warning">
      <h3>
        退会すると、会員登録情報が閲覧できなくなります。<br />
        退会する場合は、「退会する」をクリックしてください。
      </h3 >
    </div>

    <div class="unsubscribe_btn">
      <%= link_to "退会しない", users_my_page_path(current_user), class: "btn-user" %>
      <%= link_to "退会する", users_withdrawal_path, method: :patch, data: { comfirm: "本当に退会しますか？" }, class: "btn-user"%>
    </div>

  </div>
</div>
